# Booking widget URL (Fresha/Calendly)
PUBLIC_BOOKING_URL=
# WhatsApp number (international format)
PUBLIC_WHATSAPP=+31600000000
# Google Maps embed URL
PUBLIC_MAPS_EMBED=https://www.google.com/maps/embed?pb=...
